:root {
    --clr-turquoise: #01ACB4;
    --clr-gray-1: #565656;
    --clr-gray-2: #999999;
    --clr-gray-3: #A7A7A7;
    --clr-black: #000000;
    --clr-white: #FFFFFF;
    --clr-blueish: #202731;
}
@font-face {
    font-family: Futura;
    src: url(../font/futur.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}