:root {
    --clr-turquoise: #01ACB4;
    --clr-gray-1: #565656;
    --clr-gray-2: #999999;
    --clr-gray-3: #A7A7A7;
    --clr-black: #000000;
    --clr-white: #FFFFFF;
    --clr-blueish: #202731;
}
@font-face {
    font-family: Futura;
    src: url(../font/futur.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}
.loginScreen{
    background-color: #01ACB4;
}

.login {
    margin: 0 auto;
    width: 610px;
    height: 681px;
    display: grid;
    background-color: white;
    grid-column: 1;
    grid-template-rows:136px, 200px, 200px, 200px;
    border-radius: 50px;
    border-color: #01ACB4;
}

#loginLogo{
    width: 136px;
    
}
.loginHeader{
grid-row: 1;
}

.emailInput{
grid-row: 3;
}
.passwordInput{
grid-row: 4;
}